@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Font settings */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Font rendering settings */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom properties */
  --menu-item-hover-color: rgb(41, 100, 143);
  --table-border-color: #ababab ;
  --scrollbar-background-color: #f1f1f1 ; 
  --scrollbar-hover-background-color: #bdbdbd ; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
}

.view-in-house-quality-model {
  width: 80% !important;
}

.red-option-text {
  color: red;
}

.ant-tag {
  cursor: pointer !important;
}

.job-challan-table-div{
  max-height: 49vh;
  overflow-y: auto;
}

.receive-rework-taka-table thead th{
  background-color: #000000 !important;
}

.job-challan-details-table {
  border: 1px solid var(--table-border-color);
  border-collapse: collapse;
  text-align: center;
}

.job-challan-details-table thead {
  background-color: rgb(25 74 109);
  color: #fff;
}

.job-challan-details-table thead th {
  padding: 6px;
}

.job-challan-details-table td {
  border: 0px;
  padding: 2px;
  border: 1px solid #d3d3d3;
}

.job-challan-taka-index-column {
  background-color: rgb(25 74 109);
  color: #fff;
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.job-challan-taka-plus-option {
  border: 0px solid;
  background-color: transparent !important;
}

.job-challan-table-total{
  position: sticky;
  bottom: 0;
  z-index: 10;
  background-color: #FFFFFF;
}

.job-challan-details-table input:focus{
  box-shadow: none;
  border-color: transparent;
}

.job-challan-details-table input:hover{
  box-shadow: none;
  border-color: transparent;
}

.job-challan-details-table input{
  box-shadow: none;
  border-color: transparent;
}

.job-challan-details-table input[type="number"]::-webkit-outer-spin-button,
.job-challan-details-table input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}


/* .ant-table {
  font-size: 14px !important;

  .ant-table-thead {
    .ant-table-cell {
      padding-top: 12px !important;
      padding-bottom: 12px !important;
    }
  }

  .ant-table-cell {
    padding: 9px !important;
  }
} */
.ant-table {
  font-size: 14px !important;
}

.ant-table .ant-table-thead .ant-table-cell {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.ant-table .ant-table-cell {
  padding: 9px !important;
}

.ant-icon {
  font-size: 9px !important;
}

tbody tr td {
  text-align: left;
}

/* Grid information model  */

/* .grid-information-model {
  .ant-descriptions-item-label {
    max-width: 40% !important;
    padding: 8px !important;
    padding-left: 10px !important;

    span {
      font-weight: 600 !important;
      color: black !important;
    }
  }

  .ant-descriptions-item-content {
    max-width: 70%;
    min-width: 70% !important;
    padding: 8px !important;
    padding-left: 12px !important;
  }
} */

.grid-information-model .ant-descriptions-item-label {
  max-width: 40% !important;
  padding: 8px !important;
  padding-left: 10px !important;
}

.grid-information-model .ant-descriptions-item-label span {
  font-weight: 600 !important;
  color: black !important;
}

.grid-information-model .ant-descriptions-item-content {
  max-width: 70%;
  min-width: 70% !important;
  padding: 8px !important;
  padding-left: 12px !important;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 10px;
}

.custom-table thead {
  background-color: rgb(25 74 109);
  color: white;
  font-weight: 600;
}

.custom-table thead tr th,
td {
  padding: 6px;
  /* text-align: center; */
}

.custom-table tbody tr td {
  padding: 5px;
  /* text-align: center; */
}

.custom-table thead tr th,
.custom-table tbody tr td {
  border: 1px solid #d3d3d3; /* Change #3498db to your desired color */
}

.red-input-field {
  color: red;
}

.ant-table-summary .ant-table-cell {
  background-color: #efefef;
  font-weight: 600;
}

.purchase-bill-description {
  padding: 0 !important;
  padding-bottom: 8px !important;
}
.purchase-bill-description .ant-descriptions-item-label {
  width: 50%;
  background-color: #efefef;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-weight: 600;
  color: black;
}

.purchase-bill-description .ant-descriptions-item-content {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
}

.highlight-text .ant-descriptions-item-content {
  color: red;
  font-weight: 600;
}

.finalamount-text .ant-descriptions-item-content {
  color: green;
  font-weight: 600;
}

input:read-only {
  background-color: #efefef !important;
}

/* Menu item related css  */
.ant-menu-submenu:hover {
  background-color: var(--menu-item-hover-color) !important;
  border-radius: 6px !important;
}

/* .ant-menu-item:hover {
  background-color: var(--menu-item-hover-color) !important;
  border-radius: 6px !important;

  .ant-descriptions-item-label {
    width: 50%;
    background-color: #efefef;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-weight: 600;
    color: black;
  }


  .ant-descriptions-item-content {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
  }
} */

.highlight-text .ant-descriptions-item-content {
    color: red;
    font-weight: 600;
}

.finalamount-text .ant-descriptions-item-content {
    color: green;
    font-weight: 600;
}

/* Menu related css  */

@media print {
  .printable-content {
    padding: 20px; /* Add your desired padding */
    margin: 20px; /* Add your desired margin */
  }
}

.debitnote-wrapper {
  /* padding: 0.3rem; */
  border: 1px solid black !important;
}

.border-right {
  border-right: 1px solid black;
}

.border-left {
  border-left: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.debitnote-sec {
  min-height: 10rem;
}

.table-custom {
  border-collapse: collapse;
  border-radius: 0.3rem;
  width: 100%;
}

.table-custom td,
.table-custom th {
  border: 1px solid #000000;
  padding: 8px;
}

.table-custom td:first-child {
  border-left: 0;
}

.table-custom td:last-child {
  border-right: 0;
}
.table-custom tr:last-child td {
  border-bottom: 0;
}

.no-border td {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.table-custom th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
}

.header-row {
  background-color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 20px;
}

.header-col {
  padding: 2px;
}

.header-card-text{
  margin-left: 8px;
}

.header-card {
  background-color: #fff;
  border: none;
}

.header-title {
  color: #333;
  background-color: #f0f0f0;
  padding: 0.2rem;
  font-size: 1.2rem !important;
  padding-left: 0.5rem;
}

.description-card {
  background-color: #fff;
  border: none !important;
}

.header-card .ant-card-body {
  padding: 0 !important;
}

.data-table{
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 0px !important;
  margin-bottom: 15px;
}

.data-table .ant-table-thead > tr > th {
  color: black;
  border-radius: 0px !important;
}

.view-information-table table thead tr th {
  background-color: #eeeeee !important;
  color: black !important;
  background-color: #f0f0f0;
}

.data-table .ant-table-tbody > tr > td {
  background-color: #fff;
}

.data-table .ant-table-container table > thead > tr:first-child th {
  background-color: #d9d9d9;
}

.dotted-line {
  border-top: 2px dotted #5b5b5b;
  margin: 4px 0;
}

.red-dotted-line {
  border-top: 2px dotted #ff0000;
  margin: 20px 0;
}

.card-wrapper{
  border:1px solid black;
  border-radius: 0px !important;
}

.card-wrapper .ant-card-body{
  padding: 0px !important;
}

.ant-table-summary .ant-table-cell{
  background-color: #f4f7f7 !important;
}

.number-of-beam-div:hover{
  cursor: pointer;
  color: rgb(25 74 109);
  width: fit-content;
  font-weight: 700;
}

.load-machine-table-div{
  max-height: 70vh;
  overflow-y: auto;
  padding-top: 15px;
  border-top: 1px solid #efefef;
}

.production-item-descriptions .ant-descriptions-item-label span{
  font-weight: 600 ;
  color: #000000;
}

/* Custom scrollbar css  */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-background-color);
}
.card-wrapper {
  border: 1px solid black;
}

.ant-select-disabled .ant-select-selector .ant-select-selection-item{
  color: #000000 !important;
}

.ant-input-disabled{
  color: #000000 !important;
}

.grand-total-div .ant-table-cell{
  border-top: 1px solid #d3d3d3 !important;
  border-bottom: 1px solid #d3d3d3 !important;
}

.beam-card-info-title-div{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  margin-top: 5px;
}

.beam-card-info-title{
  color: #000000 !important;
  font-weight: 600;
}

.beam-card-main-div{
  background-color: #f7f7f7;
    padding: 20px;
    /* Add your desired padding */
    margin: 20px;
    /* Add your desired margin */
}


.query-chart-wrapper {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(212, 212, 212, 1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(212, 212, 212, 1);
  box-shadow: 3px 3px 5px 0px rgba(212, 212, 212, 1);
  border-radius: 0.5rem;
  display: flex;
  justify-content: start;
  padding-left: 1rem;
  padding-top: 0.3rem;
  align-items: center; 
   background-color: #fff;

}

.chart-wrapper{
  border: 1px solid rgb(208, 208, 208);
  border-radius: 0.4rem;
  margin-bottom: 0.4rem;
  min-height: 14rem;
  width:1005;
  padding: 0.4rem;
  background-color: #fff;
}

.dashboard-wrapper{
  background-color: #fafafa;
  height: 100%;
  overflow-x:hidden;
  min-height: 92vh;
}