@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Font settings */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Font rendering settings */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom properties */
  --menu-item-hover-color: rgb(41, 100, 143);
  --secondary-color: rgba(173, 216, 230, 0.2);
  --table-border-color: #ababab;
  --scrollbar-background-color: #f1f1f1;
  --scrollbar-hover-background-color: #bdbdbd;
  --index-column-bakcground-color: #e2e2e2;
  --index-column-text-color: #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
}

.view-in-house-quality-model {
  width: 80% !important;
}

.red-option-text {
  color: red;
}

.ant-tag {
  cursor: pointer !important;
}

.job-challan-table-div {
  max-height: 49vh;
  overflow-y: auto;
}

.receive-rework-taka-table thead th {
  background-color: #000000 !important;
}

.job-production-index-column {
  background-color: #000000 !important;
}

.job-challan-details-table {
  border: 1px solid var(--table-border-color);
  border-collapse: collapse;
  text-align: center;
}

.job-challan-details-table thead {
  background-color: rgb(25 74 109);
  color: #fff;
}

.job-challan-details-table thead th {
  padding: 6px;
}

.job-challan-details-table td {
  border: 0px;
  padding: 2px;
  border: 1px solid #d3d3d3;
}

.job-challan-taka-index-column {
  background-color: var(--index-column-bakcground-color);
  color: var(--index-column-text-color);
  padding-left: 7px !important;
  padding-right: 7px !important;
  text-align: center;
  font-weight: 600;
}

.total-info-td-cell {
  text-align: center;
  font-weight: 600;
  background-color: var(--index-column-bakcground-color);
  color: var(--index-column-text-color);
}

.job-challan-taka-plus-option {
  border: 0px solid;
  background-color: transparent !important;
}

.job-challan-table-total {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background-color: #ffffff;
}

.production-table-div {
  height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
  margin-top: -10px;
}

.production-table-total {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.production-table-total td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
}

.job-challan-details-table input:focus {
  box-shadow: none;
  border-color: transparent;
}

.job-challan-details-table input:hover {
  box-shadow: none;
  border-color: transparent;
}

.job-challan-details-table input {
  box-shadow: none;
  border-color: transparent;
}

.job-challan-details-table input[type="number"]::-webkit-outer-spin-button,
.job-challan-details-table input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .ant-table {
  font-size: 14px !important;

  .ant-table-thead {
    .ant-table-cell {
      padding-top: 12px !important;
      padding-bottom: 12px !important;
    }
  }

  .ant-table-cell {
    padding: 9px !important;
  }
} */
/* .ant-modal-wrap {
  z-index: 99999 !important;
} */

.ant-table {
  font-size: 14px !important;
}

.ant-table .ant-table-thead .ant-table-cell {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.ant-table .ant-table-thead .ant-table-column-has-sorters:hover {
  background-color: #194a6d3b !important;
  color: #194a6d !important;
}

.ant-table .ant-table-cell {
  padding: 9px !important;
}

.ant-icon {
  font-size: 9px !important;
}

tbody tr td {
  text-align: left;
}

.ant-picker-dropdown .ant-picker-content td {
  text-align: center !important;
}

/* Grid information model  */

/* .grid-information-model {
  .ant-descriptions-item-label {
    max-width: 40% !important;
    padding: 8px !important;
    padding-left: 10px !important;

    span {
      font-weight: 600 !important;
      color: black !important;
    }
  }

  .ant-descriptions-item-content {
    max-width: 70%;
    min-width: 70% !important;
    padding: 8px !important;
    padding-left: 12px !important;
  }
} */

.grid-information-model .ant-descriptions-item-label {
  max-width: 40% !important;
  padding: 8px !important;
  padding-left: 10px !important;
}

.grid-information-model .ant-descriptions-item-label span {
  font-weight: 600 !important;
  color: black !important;
}

.grid-information-model .ant-descriptions-item-content {
  max-width: 70%;
  min-width: 70% !important;
  padding: 8px !important;
  padding-left: 12px !important;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 10px;
}

.custom-table thead {
  background-color: rgb(25 74 109);
  color: white;
  font-weight: 600;
}

.custom-table thead tr th,
td {
  padding: 6px;
  /* text-align: center; */
}

.custom-table tbody tr td {
  padding: 5px;
  /* text-align: center; */
}

.custom-table thead tr th,
.custom-table tbody tr td {
  border: 1px solid #d3d3d3; /* Change #3498db to your desired color */
}

.red-input-field {
  color: red;
}

.ant-table-summary .ant-table-cell {
  background-color: #efefef;
  font-weight: 600;
}

.purchase-bill-description {
  padding: 0 !important;
  padding-bottom: 8px !important;
}
.purchase-bill-description .ant-descriptions-item-label {
  width: 50%;
  background-color: #efefef;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-weight: 600;
  color: black;
}

.purchase-bill-description .ant-descriptions-item-content {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
}

.highlight-text .ant-descriptions-item-content {
  color: red;
  font-weight: 600;
}

.finalamount-text .ant-descriptions-item-content {
  color: green;
  font-weight: 600;
}

input:read-only {
  background-color: #efefef;
}

/* Menu item related css  */
.ant-menu-submenu:hover {
  background-color: var(--menu-item-hover-color) !important;
  border-radius: 6px !important;
}

/* .ant-menu-item:hover {
  background-color: var(--menu-item-hover-color) !important;
  border-radius: 6px !important;

  .ant-descriptions-item-label {
    width: 50%;
    background-color: #efefef;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-weight: 600;
    color: black;
  }

  .ant-descriptions-item-content {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
  }
} */

.ant-menu-item:hover {
  background-color: var(--menu-item-hover-color) !important;
  border-radius: 6px !important;
}

.ant-menu-item:hover .ant-descriptions-item-label {
  width: 50%;
  background-color: #efefef;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-weight: 600;
  color: black;
}

.ant-menu-item:hover .ant-descriptions-item-content {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
}

.highlight-text .ant-descriptions-item-content {
  color: red;
  font-weight: 600;
}

.finalamount-text .ant-descriptions-item-content {
  color: green;
  font-weight: 600;
}

/* Menu related css  */

@media print {
  .printable-content {
    padding: 20px; /* Add your desired padding */
    margin: 20px; /* Add your desired margin */
  }
}

.debitnote-wrapper {
  /* padding: 0.3rem; */
  border: 1px solid black !important;
}

.border-right {
  border-right: 1px solid black;
}

.border-left {
  border-left: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.debitnote-sec {
  min-height: 10rem;
}

.table-custom {
  border-collapse: collapse;
  border-radius: 0.3rem;
  width: 100%;
}

.table-custom td,
.table-custom th {
  border: 1px solid #000000;
  padding: 8px;
}

.table-custom td:first-child {
  border-left: 0;
}

.table-custom td:last-child {
  border-right: 0;
}
.table-custom tr:last-child td {
  border-bottom: 0;
}

.no-border td {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.table-custom th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
}

.header-row {
  background-color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 20px;
}

.header-col {
  padding: 2px;
}

.header-card-text {
  margin-left: 8px;
}

.header-card {
  background-color: #fff;
  border: none;
}

.header-title {
  color: #333;
  background-color: #f0f0f0;
  padding: 0.2rem;
  font-size: 1.2rem !important;
  padding-left: 0.5rem;
}

.description-card {
  background-color: #fff;
  border: none !important;
}

.header-card .ant-card-body {
  padding: 0 !important;
}

.data-table {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 0px !important;
  margin-bottom: 15px;
}

.data-table .ant-table-thead > tr > th {
  color: black;
  border-radius: 0px !important;
}

.view-information-table table thead tr th {
  background-color: #eeeeee !important;
  color: black !important;
  background-color: #f0f0f0;
}

.data-table .ant-table-tbody > tr > td {
  background-color: #fff;
}

.data-table .ant-table-container table > thead > tr:first-child th {
  background-color: #d9d9d9;
}

.dotted-line {
  border-top: 2px dotted #5b5b5b;
  margin: 4px 0;
}

.red-dotted-line {
  border-top: 2px dotted #ff0000;
  margin: 20px 0;
}

.card-wrapper {
  border: 1px solid black;
  border-radius: 0px !important;
}

.card-wrapper .ant-card-body {
  padding: 0px !important;
}

.ant-table-summary .ant-table-cell {
  background-color: #f4f7f7 !important;
}

.number-of-beam-div:hover {
  cursor: pointer;
  color: rgb(25 74 109);
  width: fit-content;
  font-weight: 700;
}

.load-machine-table-div {
  max-height: 70vh;
  overflow-y: auto;
  padding-top: 15px;
  border-top: 1px solid #efefef;
}

.production-item-descriptions .ant-descriptions-item-label span {
  font-weight: 600;
  color: #000000;
}

/* Custom scrollbar css  */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-background-color);
}
.card-wrapper {
  border: 1px solid black;
}

.ant-select-disabled .ant-select-selector .ant-select-selection-item {
  color: #000000 !important;
}

.ant-input-disabled {
  color: #000000 !important;
}

.grand-total-div .ant-table-cell {
  border-top: 1px solid #d3d3d3 !important;
  border-bottom: 1px solid #d3d3d3 !important;
}

.beam-card-info-title-div {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  margin-top: 5px;
}

.beam-card-info-title {
  color: #000000 !important;
  font-weight: 600;
}

.beam-card-main-div {
  background-color: #f7f7f7;
  padding: 20px;
  /* Add your desired padding */
  margin: 20px;
  /* Add your desired margin */
}

.query-chart-wrapper {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(212, 212, 212, 1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(212, 212, 212, 1);
  box-shadow: 3px 3px 5px 0px rgba(212, 212, 212, 1);
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-top: 0.3rem;
  align-items: center;
  /* background-color: #fff; */

  background: rgb(255, 255, 255);
  background: linear-gradient(
    40deg,
    rgba(255, 255, 255, 1) 80%,
    rgba(41, 100, 143, 0.2) 90%
  );
}

.chart-wrapper {
  border: 1px solid rgb(208, 208, 208);
  border-radius: 0.4rem;
  margin-bottom: 0.4rem;
  /* min-height: 14rem; */
  /* width: 100%; */
  padding: 0.4rem;
  background-color: #fff;
}
.chart-wrapper .title {
  color: rgba(0, 0, 0, 0.45);
  text-transform: uppercase;
  font-size: 16px;
}

.dashboard-wrapper {
  background-color: #fafafa;
  padding: 12px 6px;
  border: 1px solid var(--secondary-color);
  margin: 12px 6px;
  border-radius: 0.4rem;
  height: 100%;
}
.side-row-card .ant-card-body {
  padding: 12px;
}
.side-row-card .ant-divider {
  margin: 12px 0px;
}
.bank-balance-card .ant-card-body {
  padding: 0px;
}
.bank-balance-card .ant-divider {
  margin: 12px 0px;
}
.bank-balance-card .ant-collapse-content-box {
  padding: 6px !important;
}

.card-wrapper {
  border: 1px solid black;
}

.wrapper-view-challan td,
.wrapper-view-challan tr {
  border: 1px solid black;
}

.sale-challan-font {
  color: #000000;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}

.sale-challan-data p {
  margin-top: 0px !important;
}

.sale-challan-taka-info {
  width: 100%;
}

.sale-challan-taka-info td {
  padding: 0 !important;
  width: 25%;
}

.sale-challan-taka-info-table-border {
  border-left: 1px solid;
}

.sale-challan-option-selection .ant-select-selector {
  background-color: transparent !important;
  border: 0px !important;
  padding-left: 0px !important;
}

.sale-challan-option-selection .ant-select-arrow {
  display: none !important;
}

.sale-challan-option-selection .ant-select-selection-item {
  font-weight: 500;
}

/* ------------------------------------------------------------------------ */

.monthly-production-line-chart-skeleton {
  width: 100% !important;
  height: 200px !important;
}
.monthly-production-line-chart-skeleton .ant-skeleton-image {
  height: 200px !important;
}

.dashboard-advertisement {
  background-color: var(--secondary-color);
  padding: 6px 10px;
  border-radius: 0.4rem;
  /* color: var(--menu-item-hover-color); */
  color: #000000;
  overflow: hidden;
}
.dashboard-advertisement p {
  margin: 0;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.payment-options .ant-radio-wrapper {
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.5s all;
}

.payment-options .ant-radio-wrapper:hover {
  /* background-color: rgba(173, 216, 230, 0.2); */
  background-color: var(--secondary-color);
  border: 1px solid rgb(25 74 109);
}
.payment-options .ant-radio-wrapper-checked {
  background-color: var(--secondary-color);
  border: 1px solid rgb(25 74 109);
}

/* account module css */

.statement-passbook-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.statement-passbook-table thead {
  background-color: rgb(25 74 109);
  color: white;
  font-weight: 600;
}

.statement-passbook-table thead tr td {
  padding: 6px 6px 6px 12px !important;
  text-align: left;
}

.statement-passbook-table tbody tr td {
  padding: 6px 6px 6px 12px !important;
  text-align: left;
}

.statement-passbook-table thead tr td,
.statement-passbook-table tbody tr td {
  border: 1px solid #d3d3d3; /* Change #3498db to your desired color */
  font-size: 14px;
  font-weight: 500;
}

.statement-passbook-table tbody tr.red {
  /* background-color: rgba(255, 0, 0, 0.411); */
  background-color: #ffe9e9;
}
.statement-passbook-table tbody tr.green {
  /* background-color: rgba(0, 128, 0, 0.5); */
  background-color: #eff5e9;
}

.statement-passbook-table-particular-entry{
  font-weight: 600;
}

.remove-input-style {
  background-color: #ffffff !important;
  border: none !important;
}

.remove-input-style:focus {
  box-shadow: none;
  border-color: transparent;
}

.remove-input-style:hover {
  box-shadow: none;
  border-color: transparent;
}

.beam-details-information-div {
  background-color: #f7f7f7;
  padding: 10px;
}

.beam-details-other-div {
  background-color: #ffffff !important;
}

.beam-details-highlight-div {
  background-color: #ffe9e9 !important;
}

.bill-option-card .ant-card-body {
  padding: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.credit-note-container {
  /* max-width: 950px; */
  /* margin: 0 auto; */
  /* padding: 20px; */
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.credit-note-table,
.summary-table {
  width: 100%;
  border-collapse: collapse;
  /* margin-bottom: 20px; */
}

.credit-note-table td,
.summary-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.input-box {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.year-toggle {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.year-toggle label {
  margin-right: 20px;
}

.total-summary {
  text-align: center;
}

.summary-table td {
  text-align: center;
  padding: 10px;
}

.width-100 {
  width: 100%;
}

.remove-input-box {
  background-color: #f9f9f9 !important;
  border: none;
  text-align: center;
}
.remove-input-box:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.credit-note-info-title span {
  font-weight: 600;
  margin-top: 5px;
}

.total-information-data {
  font-weight: 600;
}

.return-information-data {
  font-weight: 600;
  color: red;
}

.checked-bill-row {
  background-color: #ccffdc;
}

.purchase-report-yarn-company {
  font-size: 18px;
}

.purchase-report-table-title {
  font-size: 16px;
}

.purchase-report-table-data-title {
  font-size: 15px;
  font-weight: 600;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
}

.purchase-report-table-data {
  font-size: 14px;
  font-weight: 500;
}

.purchase-total-td {
  background-color: #000000;
}

.purchase-total-font {
  color: #fff;
}

.sub-table{
  .ant-table{
    width: 30% !important;
    margin-right: auto !important;
  }
}

.payment-voucher-model{
  .ant-descriptions-title{
    font-size: 22px !important;
  }
  .ant-descriptions-item-label{
    font-weight: 600 !important;
    color: #000000 !important;
  }
}

.custom-table thead th{
  font-size: 15px !important;
}

.sundary-header td{
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px !important;
}

.sundary-data td{
  font-size: 14px;
  padding-left: 10px !important;
}

.sundary-total td {
  font-size: 15px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.sundary-due-date{
  color: red !important;
  font-weight: 600 !important;
}

.sundary-bill-payment-label{
  font-weight: 600;
  text-align: left;
  margin-bottom: 8px;
}

.table-due-date-information-div{
  font-weight: 600;
  color: red;
}

.opening-balance-entry{
  background-color: #c9efa4;
}

.passbook-particular-entry-td{
  font-weight: 500;
}

.bank-balance-card .ant-collapse-header-text{
  font-weight:600;
}