@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Font settings */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Font rendering settings */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom properties */
  --menu-item-hover-color: rgb(41, 100, 143);
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
}

.view-in-house-quality-model {
  width: 80% !important;
}

.red-option-text {
  color: red;
}

.ant-tag {
  cursor: pointer !important;
}

.job-challan-details-table {
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  text-align: center;
}

.job-challan-details-table thead {
  background-color: rgb(25 74 109);
  color: #fff;
}

.job-challan-details-table thead th {
  padding: 6px;
}

.job-challan-details-table td {
  border: 0px;
  padding: 2px;
  border: 1px solid #d3d3d3;
}

.job-challan-taka-index-column {
  background-color: rgb(25 74 109);
  color: #fff;
}

.job-challan-taka-plus-option {
  border: 0px solid;
  background-color: transparent !important;
}

/* .ant-table {
  font-size: 14px !important;

  .ant-table-thead {
    .ant-table-cell {
      padding-top: 12px !important;
      padding-bottom: 12px !important;
    }
  }

  .ant-table-cell {
    padding: 9px !important;
  }
} */
.ant-table {
  font-size: 14px !important;
}
.ant-table .ant-table-thead .ant-table-cell {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.ant-table .ant-table-cell {
  padding: 9px !important;
}

.ant-icon {
  font-size: 9px !important;
}

tbody tr td {
  text-align: left;
}

/* Grid information model  */

/* .grid-information-model {
  .ant-descriptions-item-label {
    max-width: 40% !important;
    padding: 8px !important;
    padding-left: 10px !important;

    span {
      font-weight: 600 !important;
      color: black !important;
    }
  }

  .ant-descriptions-item-content {
    max-width: 70%;
    min-width: 70% !important;
    padding: 8px !important;
    padding-left: 12px !important;
  }
} */

.grid-information-model .ant-descriptions-item-label {
  max-width: 40% !important;
  padding: 8px !important;
  padding-left: 10px !important;
}
.grid-information-model .ant-descriptions-item-label span {
  font-weight: 600 !important;
  color: black !important;
}
.grid-information-model .ant-descriptions-item-content {
  max-width: 70%;
  min-width: 70% !important;
  padding: 8px !important;
  padding-left: 12px !important;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 10px;
}

.custom-table thead {
  background-color: rgb(25 74 109);
  color: white;
  font-weight: 600;
}

.custom-table thead tr th,
td {
  padding: 6px;
  /* text-align: center; */
}

.custom-table tbody tr td {
  padding: 5px;
  /* text-align: center; */
}

.red-input-field {
  color: red;
}

.ant-table-summary .ant-table-cell {
  background-color: #efefef;
  font-weight: 600;
}

.purchase-bill-description {
  padding: 0 !important;
  padding-bottom: 8px !important;
}
.purchase-bill-description .ant-descriptions-item-label {
  width: 50%;
  background-color: #efefef;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-weight: 600;
  color: black;
}

.purchase-bill-description .ant-descriptions-item-content {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
}

.highlight-text .ant-descriptions-item-content {
  color: red;
  font-weight: 600;
}

.finalamount-text .ant-descriptions-item-content {
  color: green;
  font-weight: 600;
}

input:read-only{
  background-color: #efefef !important;
}


/* Menu item related css  */
.ant-menu-submenu:hover{
  background-color: var(--menu-item-hover-color) !important;
  border-radius: 6px !important;
}

.ant-menu-item:hover{
  background-color: var(--menu-item-hover-color) !important;
  border-radius: 6px !important; 
}

/* Menu related css  */

@media print {
  .printable-content {
    padding: 20px; /* Add your desired padding */
    margin: 20px; /* Add your desired margin */
  }
}


.header-row {
  background-color: #fff;
}

.header-col {
  padding: 2px;
}

.header-card {
  background-color: #fff;
  border: none;
}

.header-title {
  color: #333;
  background-color: #f0f0f0;
  padding: 0.2rem;

}

.description-card {
  background-color: #fff;
  border: none !important;
}


.header-card .ant-card-body{
  padding: 0 !important;
}
.data-table .ant-table-thead > tr > th {
  color: black;
  background-color: #f0f0f0;
}

.data-table .ant-table-tbody > tr > td {
  background-color: #fff;
}

.data-table .ant-table-container table > thead > tr:first-child th {
  background-color: #d9d9d9;
}

.dotted-line {
  border-top: 2px dotted #5b5b5b;
  margin: 4px 0;
}

.card-wrapper{
  border:1px solid black;
}